# Django
DJANGO_SECRET_KEY=troque-esta-chave-por-uma-segura
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres (serviço db/serviço web)
POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppassword
